@let(link = name)
<a
  class="mb-3 flex w-fit flex-row items-center gap-1 transition-colors hover:text-primary"
  href="{{route(link)}}"
>
  <svg class="size-5">
    <use href="#back" />
  </svg>
  Назад
</a>
