<button
  class="
    transition-colors bg-primary flex flex-row items-center text-sm text-white hover:bg-primary/95 active:bg-primary/90 gap-3
    {{className}}
    {{variant === 'sm' ? 'px-3 py-2  rounded-lg' : 'py-4 px-6 rounded-xl'}}
  "
  type="{{type}}"
>{{{ await $slots.main() }}}</button>
