@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 221 9% 36%;
    --primary: 230 79% 57%;
    --secondary: 216 100% 15%;
    --black: 225 9% 18%;
    --white: 0 0% 100%;
    --border: 214.3 31.8% 91.4%;
    --input: 225 11% 64%;
    --text: 221 9% 36%;
    --muted: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;

    --radius: .5rem;

    --header-height: 80px;
    --header-height-md: 88px;
  }
}

@layer base {
  * {
    @apply border-border;
    font-family: 'Inter', sans-serif;
  }

  html,
  body {
    scrollbar-gutter: stable;
  }

  body {
    @apply bg-background text-foreground;
  }
}

html {
  @apply scroll-smooth scroll-pt-[var(--header-height)] md:scroll-pt-[var(--header-height-md)];
}

.header {
  @apply sticky transition-all top-0 z-50 border-b bg-background/95 backdrop-blur;
}

.header-active {
  @apply backdrop-blur-none backdrop-filter-none bg-white !important;
}

.burger-active .burger-icon {
  @apply hidden;
}

.burger-active .burger-close {
  @apply flex !important;
}

.menu {
  --hh: calc(100vh - var(--header-height));
  --menu-height-md: calc(100vh - var(--header-height-md));

  @apply translate-x-full transition duration-[250] ease-in-out bg-white absolute inset-x-0 bottom-0 flex items-center justify-center top-[var(--header-height)] md:top-[var(--header-height-md)] h-[var(--hh)] md:h-[var(--hh)];
}

.menu-active {
  @apply translate-x-0 !important;
}

.email-button-disabled {
  @apply bg-gray-400 pointer-events-none;
}

.mail-loader {
  @apply hidden;
}

.mail-loader-active {
  @apply block;
}

.field-error {
  @apply text-red-500 font-medium hidden;
}

.field-error-active {
  @apply block;
}

.scroll-lock {
  overflow: hidden;
}
