@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 221 9% 36%;
    --primary: 230 79% 57%;
    --secondary: 216 100% 15%;
    --black: 225 9% 18%;
    --white: 0 0% 100%;
    --border: 214.3 31.8% 91.4%;
    --input: 225 11% 64%;
    --text: 221 9% 36%;
    --muted: 210 40% 96%;

    --radius: .5rem;
  }
}

@layer base {
  * {
    @apply border-border;
    font-family: 'Inter', sans-serif;
  }

  body {
    @apply bg-background text-foreground;
  }
}

html {
  scroll-behavior: smooth;
}
