@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 221 9% 36%;
    --primary: 230 79% 57%;
    --secondary: 216 100% 15%;
    --black: 225 9% 18%;
    --white: 0 0% 100%;
    --border: 214.3 31.8% 91.4%;
    --input: 225 11% 64%;
    --text: 221 9% 36%;
    --muted: 0 0% 86%;

    --radius: .5rem;
  }
}

@layer base {
  * {
    @apply border-border;
    font-family: 'Inter', sans-serif;
  }

  body {
    @apply bg-background text-foreground;
  }
}

html {
  scroll-behavior: smooth;
}

.burger {
  --burger-width: 40px;
  --burger-height: 24px;
  --burger-line-height: 2px;

  position: relative;
  border: none;
  padding: 0;
  width: var(--burger-width);
  height: var(--burger-height);
  background-color: transparent;
  cursor: pointer;
  outline: none;
  @apply transition-all;
}

.burger:hover {
  color: hsl(var(--primary));
}

.burger::before,
.burger::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: var(--burger-line-height);
  background-color: currentColor;
  @apply transition-all rounded;
}

.burger::before {
  top: 0;
}

.burger::after {
  top: calc(100% - var(--burger-line-height));
}

.burger__line {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: var(--burger-line-height);
  background-color: currentColor;
  transform: translateY(-50%);
  @apply transition-all rounded;
}

.burger-active::before {
  color: currentColor;
  top: 50%;
  transform: rotate(45deg);
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  @apply text-primary;
}

.burger-active::after {
  color: currentColor;
  top: 50%;
  transform: rotate(-45deg);
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  @apply text-primary;
}

.burger-active .burger__line {
  transform: scale(0);
  transition: transform 0.3s ease-in-out;
  @apply text-primary;
}
