<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0, minimum-scale=1.0">
  <title>{{ title || "Заборы в Уфе" }}</title>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
  <link rel="icon" href="{{asset('resources/images/favicon.ico')}}" type="image/x-icon">
  <link rel="apple-touch-icon" sizes="180x180" href="{{asset('resources/images/apple-touch-icon.png')}}">
  <link rel="icon"  sizes="32x32" href="{{asset('resources/images/favicon-32x32.png')}}">
  <link rel="icon"  sizes="16x16" href="{{asset('resources/images/favicon-16x16.png')}}">
  <link rel="manifest" href="{{asset('resources/images/site.webmanifest')}}">

  @if ($slots.meta)
    {{{ await $slots.meta() }}}
  @endif

  @vite(['resources/css/app.css'])
  @vite(['resources/js/app.js'])
  @vite(['resources/js/client/app.js'])
</head>
<body class="min-h-screen max-w-full flex flex-col relative overflow-x-hidden">
  @!header({
    phoneNumber,
    catalogItems,
    sales,
    works,
    reviews
  })
  <main class="flex-1">
    {{{ await $slots.main() }}}
  </main>
  @!footer({ socials })
  @include('components/ui/sprite')

</body>
</html>
