<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ title || "AdonisJS - A fully featured web framework for Node.js" }}</title>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">

  @if ($slots.meta)
    {{{ await $slots.meta() }}}
  @endif

  @vite(['resources/css/app.css'])
</head>
<body class="min-h-screen flex flex-col">
  @include('components/header')
  <main class="flex-1">
    {{{ await $slots.main() }}}
  </main>
  @include('components/footer')
  @include('components/ui/sprite')
  @vite(['resources/js/app.js'])
</body>
</html>
