@layout({ title: "Home Page", phoneNumber, socials })
  @slot('meta')
  <meta name="description" content="Home page" />
  @endslot
  @include('components/hero')
  @include('components/features')
  @include('components/prices')
  @include('components/sales')
  @include('components/stages')
  @!works({ works })
  @!reviews({ reviews })
  @include('components/contacts')
@end
