@layout({ title: "Home Page", phoneNumber, socials })
  @slot('meta')
  <meta name="description" content="Home page" />
  @endslot
  @include('components/hero')
  @include('components/features')
  @!prices({ catalogItems })
  @!sales({ sales })
  @include('components/stages')
  @!works({ works })
  @!reviews({ reviews })
  @include('components/contacts')
@end
