@layout({ title: "Home Page" })
  @slot('meta')
    <meta name="description" content="Home page" />
  @endslot

  <section>
  <div class="container">
  <h1 class="h-[300vh]">Home page</h1>
</div>
</section>
@end
